.background-div {
    width: 600px;
    height: 200px; /* Full screen height */
    background-image: url('../assests/bgsnow.webp'); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    position: absolute; /* Positions the element relative to the top-left corner of the page */
     /* Aligns the div to the top of the page */
    left: 50%; /* Aligns the div horizontally to the center */
    transform: translateX(-50%); 
    border-radius: 2%;
  }